:root{
    --dark-blue: #221f72;
    --orange: #d3861f;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    /* border: 1px solid; */
    font-family: 'Roboto', sans-serif;
}

table{
    margin: 2% 15%;
    border-spacing: 0;
    
}
img{
    width: 5vw;
    height: auto;
}
#title{
    font-weight: 900;
    font-size: 3vw;
}
td{
    text-align: center;
    padding: 2vmax;
}
.godziny{
    font-size: 2vw;
    font-weight: 600;
    color: var(--dark-blue);
}
.opisy{
    font-size: 1.5vw;
    text-align: left;
}

@media screen and (width < 650px){
    table{
        margin: 0;
        border-spacing: 0;
        display: flex;
        justify-content: center;
    }

    tr{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 10vw;
        height: auto;
    }
    #title{
        font-size: 5vw;
    }
    .godziny{
        font-size: 4vw;
    }
    .opisy{
        font-size: 3vw;
        text-align: center;
        border: 0px solid;
        border-bottom-color: var(--orange);
    }
}
